.button {
  color: #3b5eda;
  white-space: nowrap;
  border-radius: 0.5rem;
  cursor: pointer;
  flex-direction: row;
  height: 2rem;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.15s ease;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  background: 0 0;
  border: 0;
  font-family: "Figtree", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
